* {
    /*color: black;*/
    font-family:"Helvetica";

}

.App {

}

.container {
    background-color: grey;
}

.header {
    background-color: red;
    margin: 1em;
    padding: 1em;
}

.about {
    background-color: orange;
    margin: 1em;
    padding: 1em;
}

.about-text {
    flex: 1 1 50%;
}

.picture {
    flex: 1 1 50%;
}

.picture-img {
    width: 50%;
}

.skills {
    background-color: yellow;
    margin: 1em;
    padding: 1em;
}

.contact {
    background-color: green;
    margin: 1em;
    padding: 1em;
}